nav {
    background: #fff;
}

#cat-nav {
    text-align: center;
    /*background-color: #0f0609, #0f0609;
    background-image: url(cat-nav-bg.jpg), url(cat-nav-bg-bottom.jpg);
    background-repeat: no-repeat, repeat-y;*/
    margin-top: -8px;
    display: block;
}

#cat-nav:after {
    content: " ";
    display: block;
    clear: both;

    width: 81%;
    padding-top: 8px;
    margin: 0 auto;
    /*background: url(teeth.png) repeat-x;*/
}

ul#cat-nav > li {
    /*text-align: center;*/
	text-align: left;
    display: inline-block;
	/*border-right:solid 1px #000;*/
	border-right: dotted 1px #cecece;
}

ul#cat-nav > li:last-child {
	border-right: none;
}

#cat-nav a:link { color: #000; text-decoration: none; padding: 10px; display: inline-block;}
#cat-nav a:hover { color: #b40404; text-decoration: none; } /* was #000 */
#cat-nav a:visited { color: #000; text-decoration: none; }
#cat-nav a:active { color: #b40404; text-decoration: none; } /* was #000 */

ul .drop-menu-items  {
    position: absolute;
    display: none;
    /*background: #000 url(drop-menu-bg.png) bottom repeat-x;*/
    -webkit-box-shadow: 0px 5px 5px #8f8f8f;
    -moz-box-shadow:    0px 5px 5px #8f8f8f);
    box-shadow:         0px 5px 5px #8f8f8f;
    border-radius: 0 10px 10px 10px;

	/* AM */
	margin: 0;
	padding: 0;
	list-style: none;
}

ul.drop-menu-items  li{
    /*background: url(drop-menu-bullet.png) no-repeat 5px center;*/
    float: none;
    position: relative;
    color: #000; /* was #fff */
    /*padding: 5px 15px;
    margin: 0 10px; */
	margin: 0;
	padding: 0;
	list-style: none;
    border-bottom: 1px dotted #cecece;
}

ul.drop-menu-items  li:last-child{
	border-bottom: none;
}

ul.drop-menu-items  li:hover {
    /*background: #f0f0f0 url(drop-menu-bullet.png) no-repeat  5px center; */
	color: #088a08;
} 

.drop-menu-parent:hover .drop-menu-items {
    display: block;
    z-index: 1000;
}

#cat-nav > li:hover a{
    color:#b40404; /* was #fff */
}

ul#cat-nav li   a:hover {
    /*background: #000;*/
    border-radius: 5px;
    /* padding-top: 5px; */

}

#cat-nav .drop-menu-items li a {
    color: #000; /* was #fff */
}


#cat-nav .drop-menu-items li:hover a {
    text-decoration: underline;
    background: none;
    color:     #088a08; /* was #fff */
}

.drop-menu-parent:hover {
    /*background: #000;
    background-color: #000;*/
    border-radius: 5px 5px 0 0;

}

img {
	margin: 5px;
	padding: 5px;
}
