<!doctype html>
<!--[if lt IE 7 ]> <html class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]> <html class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]> <html class="no-js ie8"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>
        Ariadne Diagnostics, LLC
    </title>
    <link href="css/menu.css" type="text/css" rel="Stylesheet">
</head>
<body>
    <div id="content">
    <img alt="Ariadne Diagnostics Logo" src="img/logo_xs.png" />
    <h1>Ariadne Diagnostics, LLC</h1>
    <h2>"Leading the Pathway to Prediction"</h2>
    <nav>
        <ul id="cat-nav">
            <li><a href="index.html">Home</a></li>
            <li><a href="aboutus.html">About Us</a></li>
            <li class="drop-menu-parent">
                <a href="programs.html">Programs</a>
                <ul class="drop-menu-items">
                    <li>
                        <a href="programs.html#Tests">
                            Companion Diagnostics Tests
                        </a>
                    </li>
                    <li>
                        <a href="programs.html#Services">
                            Bioinformatics Services
                        </a>
                    </li>                    
                </ul>
            </li>
            <li><a href="pipeline.html">Pipeline</a></li>
            <li><a href="news.html">News</a></li>
            <li><a href="contactus.html">Contact Us</a></li>  
        </ul>
    </nav>
    {{ content }}
    <img src="img/pathway.png" align="left">		
</body>
</html>
