<!DOCTYPE html>
<html>
<head>
    <link href="css/menu.css" type="text/css" rel="Stylesheet">
</head>
<body>
    <div style="display:block;margin-left:auto;margin-right:auto;width:961px;">
    <TABLE>
    <TR>
    <TD VALIGN="top">
    <TITLE>
    Ariadne Diagnostics, LLC
    </TITLE>

    <IMG SRC="img/logo_xs.png" align="left">

    <H1>ARIADNE DIAGNOSTICS, LLC</H1>

    <H2>"Leading the Pathway to Prediction"</H2>

    </TD>
    <TD VALIGN="top">
    <nav>
        <ul id="cat-nav">
            <li><a href="index.html">Home</a></li>
            <li><a href="aboutus.html">About Us</a></li>
            <li class="drop-menu-parent">
                <a href="programs.html">Programs</a>

                <ul class="drop-menu-items">
                    <li><a href="programs.html#Tests">Companion Diagnostics Tests</a></li>
                    <li><a href="programs.html#Services">Bioinformatics Services</a></li>                    
                </ul>
            </li>
            <li><a href="pipeline.html">Pipeline</a></li>
            <li><a href="news.html">News</a></li>
            <li><a href="contactus.html">Contact Us</a></li>  
        </ul>
    </nav>
    </TD>
    </TR>
    </TABLE>

    {{ content }}

    <IMG SRC="img/pathway.png" align="left">		


    </div>
</body>
</html>
